// ---------------Bouton download & open----------------------

.btn-download {
	@include verticalCenter;
	flex-direction: column;
	.btn-cv {
		min-width: 170px;
		margin-bottom: 1%;
	}
}
.react-pdf__Document {
	@include verticalCenter;
	@media (max-width: 992px) {
		.react-pdf__Page__canvas {
			width: 100% !important;
			height: 100% !important;
		}
	}
}
#modalCV {
	.modal-content {
		background-color: transparent !important;
		margin-top: 30%;

	}
	.modal-header {
		border-bottom: none;
	}
	.close {
		color: white;
		opacity: 1;
	}
}