.about-section {
    padding: 7em 0;
    h2{
		font-weight: 300;
		letter-spacing: 1px;
    }
    .author-img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}


// ---------------Formations----------------------
.education-wrapper {
    position: relative;

    h5 {
        color: $primary;
    }

    h6 {
        margin-top: 15px;
    }

    @media (max-width: 992px) {
        margin-left: 20%;
    }
}

.education-wrapper:after {
    content: '';
    position: absolute;
    top: 8px;
    bottom: 0;
    left: -51px;
    width: 2px;
    background: #ccc;

    @media (max-width: 992px) {
        left: -23px;
    }

    @media (max-width: 575px) {
        left: null !important;
    }
}

.education-wrapper .education {
    position: relative;
    margin-bottom: 15%;
}

.education-wrapper .education:after {
    content: '';
    position: absolute;
    top: 8px;
    left: -58px;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0 0 0 8px #2f88fc85;
    background: $primary;

    @media (max-width: 992px) {
        left: -30px;
    }
}