@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&display=swap');

$font-primary: 'Poppins',
Arial,
sans-serif;
$font-2: 'Josefin Sans',
serif;

$white: #fff;
$black: #121212;
$primary: #2f89fc;

$shadow: 0 1px 3px #333;
$min-height: 95vh;

@mixin verticalCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: $font-primary;
	background: $black;
	color: $white;
	position: relative;

	&:after {
		position: fixed;
		top: -150px;
		right: -50px;
		bottom: 0;
		content: '';
		width: 400px;
		height: 600px;
		border: 2px solid rgba(255, 255, 255, .05);
		z-index: -1;
		-webkit-transform: rotate(-30deg);
		-moz-transform: rotate(-30deg);
		-ms-transform: rotate(-30deg);
		-o-transform: rotate(-30deg);
		transform: rotate(-30deg);

	}

	&:before {
		position: fixed;
		top: 500px;
		left: -100px;
		bottom: 0;
		content: '';
		width: 400px;
		height: 400px;
		border: 2px solid rgba(255, 255, 255, .05);
		z-index: -1;
		-webkit-transform: rotate(20deg);
		-moz-transform: rotate(20deg);
		-ms-transform: rotate(20deg);
		-o-transform: rotate(20deg);
		transform: rotate(20deg);
	}

	&.menu-show {
		overflow: hidden;
		position: fixed;
		height: 100%;
		width: 100%;
	}
}

button {
	cursor: pointer;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none !important;
	color: $white;
	cursor: pointer;
}

a:visited {
	color: $white;
}

.progressBar {
	transition: width .6s ease !important;
}